# Non-official provider API key
MODEL_BASE_URL="https://your/non-official/provider/base/url"
MODEL_API_KEY="sk-..."
MODEL_NAME="Claude-Haiku-4.5"

# Claude Code provider override
PORT=8061
ANTHROPIC_BASE_URL="http://localhost:${PORT}"
ANTHROPIC_AUTH_TOKEN="${MODEL_API_KEY}"
CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1